body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.logo {
    display: inline-block;
    padding-left: 62px;
    position: relative;
}
.logo img {
    height: 40px;
    position: absolute;
    top: -6px;
    left: 0;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #13131a;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
}
.menu h2 {
  color: #dc4f5b;
  margin: 0;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
}
.menu h2 a {
  color: inherit;
  text-decoration: none;
}
.menu-wrapper {
  max-width: 1044px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.hamburger {
  width: 30px;
  height: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.hamburger div {
  width: 100%;
  height: 3px;
  background: #fff1db;
  transition: 0.3s;
  border-radius: 2px;
}
.nav-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100vh;
  background: #222e39;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  z-index: 2;
}
.nav-menu a {
  color: #fff1db;
  font-size: 24px;
  text-decoration: none;
  margin: 15px 0;
}
.nav-menu a:hover::before {
  content: "•";
  margin-right: 5px;
  color: inherit;
}
.nav-menu a::before {
  content: "•";
  margin-right: 5px;
  visibility: hidden;
}

.nav-menu a:hover::before {
  visibility: visible;
}
.nav-menu.open {
  left: 0;
}
.hamburger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.open div:nth-child(2) {
  opacity: 0;
}
.hamburger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
.hero-section {
  width: 100%;
  background-color: #13131a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 5px solid #e9e9e9;
  height: 80vh;
}

.hero-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(reading.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: blur(5px);
}

.hero-text-wrapper {
  max-width: 1044px;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
}
.hero-text-wrapper h1 {
  color: #fff1db;
  font-size: 36px;
  line-height: 1.4;
  margin: 16px;
  font-weight: normal;
  padding-top: 16%;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}
.hero-text-wrapper b {
  color: #c8f4ff;
}

.button {
  background-color: #dc4f5b;
  color: #fff1db;
  padding: 16px 36px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0 16px;
  margin-bottom: 6px;
  transition: background-color 0.3s ease-in-out;
}

.button-outlined {
  background-color: transparent;
  border: 2px solid #fff1db;
  color: #fff1db;
}
.button:hover {
  background-color: #ff6b6b;
}

.button-alt {
  background-color: #496f93;
}

.button-alt:hover {
  background-color: #5b83a8;
}

.button-outlined:hover {
  background-color: #fff1db31;
}

.section-text-wrapper {
  max-width: 1044px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.section-text-wrapper h2 {
  margin-top: 50px;
  color: #dc4f5b;
  font-size: 32px;
  font-weight: normal;
}

.section-text-wrapper p {
  font-family: sans-serif;
  color: #5c6c70;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

.system-section h2,
.system-section p {
  color: #fff1db;
}

.system-section .section-text-wrapper {
    background-image: url(logo.svg);
}

.system-section h2,
footer h2 {
  text-align: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.external-link {
  color: #dc4f5b;
  text-decoration: none;
}

.external-link:hover {
  text-decoration: underline;
}

.system-section .quote-container {
  opacity: 0.3;
  max-width: 530px;
  border-left: 5px solid #fff1db;
  padding-left: 20px;
  font-size: 1.5em;
  margin-top: 100px;
  margin-left: auto;
}

.system-section .quote,
.system-section .source {
  color: #fff1db;
  font-size: 1em;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: left;
}

.section-text-wrapper .contact-email {
  text-align: center;
  font-size: 36px;
  font-family: Georgia, serif;
  color: #fff1db;
}

.cta-buttons {
  padding: 16px;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  box-shadow: 3px 3px #dc4f5b;
}
.cta-buttons p {
    color: #dc4f5b;
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid #e7e7e5;
    margin: 0 -16px 0;
    padding: 0 16px 10px;
}
.cta-buttons a {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 16px;
  text-align: center;
}

@media (max-width: 600px) {
  .hero-bg {
    background-position: bottom;
  }
  .hero-text-wrapper h1 {
    font-size: 28px;
  }
  .hero-text-wrapper {
    text-align: left;
  }
  .hero-section {
    height: auto;
  }
  .two-columns {
    display: block;
  }
  .section-text-wrapper .contact-email {
    font-size: 18px;
  }
  .section-text-wrapper p {
    text-align: left;
  }
  .button {
    padding: 16px 22px;
  }
}

@media (max-width: 800px) {
  .two-columns {
    display: block;
  }
}

@media (max-height: 500px) {
  .hero-section {
    height: auto;
  }
}
